{% extends "padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="masthead-heading text-uppercase mb-0">Sobre Mi</h1>
{% endblock titulo %}
{% block primerSeccionPagina %}
{% endblock primerSeccionPagina %}
{% block segundaSeccionPagina %}
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Luciano Lazarte</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4  text-center divider-custom "><p class="lead"> Buenas, soy Luciano Lazarte el creador de esta página web.
                Actualmente tengo 23 años y estoy adentrandome más al extenso mundo de la programación. Con la ayuda de CoderHouse pude, en tan
                solo unos meses de estudio, concretar un proyecto como este. Espero poder avanzar aún más y lograr metas cada vez más ambiciosas.
            </p></div>
        </div>
    </div>
</section>
{% endblock segundaSeccionPagina %}
{% block terceraSeccionPagina %}
{% endblock terceraSeccionPagina %}
{% block botonSobreMi %}
{% endblock botonSobreMi %}
